# ntar env nya ngikut ini 

# postgres : DEFAULT LOKAL INI DLU
# TODO : WAKTU PROD JANGAN LUPA JANGAN PAKE INI

POSTGRES_USER=unispace
POSTGRES_PASSWORD=unispace_tolong_itunya_iniin
POSTGRES_DB=unispace
POSTGRES_PORT=5432

# MinIO (S3 compatible object storage)
# unkomen dibawah ini kalo mau ikut ngecompose minio nya
# jangan lupa masukan minio.license di lokal root biar nggak error pas compose

# COMPOSE_PROFILES=minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
