# ntar env nya ngikut ini 

# postgres : DEFAULT LOKAL INI DLU
# TODO : WAKTU PROD JANGAN LUPA JANGAN PAKE INI

POSTGRES_USER=unispace
POSTGRES_PASSWORD=unispace_tolong_itunya_iniin
POSTGRES_DB=unispace
POSTGRES_PORT=5432

