# env example buat backend nya

# app_env buat development, production
# bedanya : 
# development : log nya lebih verbose, error nya lebih detail, hotreload etc
# development : khsus buat prod gaada hot reload
APP_ENV=development

# ini port backend buat si Fe nembak or redirect ke sini
PORT=3001

# fe url buat CORS
FRONTEND_URL=http://localhost:3000

# database config ntar di prod ganti ke link url live db nya
DATABASE_URL=postgresql://username:password@localhost:5432/database_name

# Password awal untuk akun yang dibuat/reset admin.
DEFAULT_USER_PASSWORD=change_me

# jwt
JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d